*~
*.swp
*.exrc
*.aux
*.log
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.ndx
*.nnd
*.pgf
*.toc
*.pdf
*.pyc
fmc.hints
fmc.solutions
fmc.proofs
fmc.symbols
fmc.report
fmc.lang
fmc*.last
fmc*.lasttag
fmc*.pages
fmc*.webtoc
